
{% extends "signin_base.html" %}
  {% block body %}
    <div class="container">
      <form class="form-signin" method="post">
		{{form.hidden_tag()}}
        <h2 class="form-signin-heading">Sign Up</h2>
		{{ form.email(class_="form-control")}}
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

		{{ form.password_0(class_="form-control")}}
        {% for error in form.password_0.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

		{{ form.password_1(class_="form-control")}}
        {% for error in form.password_1.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

		{{form.submit(class_="btn btn-lg btn-primary btn-block")}}
      </form>
    </div> <!-- /container -->
  {% endblock %}
